.logo {
    width: 100px;
    height: auto;
}

.headerText {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: var(--bs-body-color);
}

.headerContainer {
    align-items: center;
    display: flex;
    background-color: var(--bs-body-bg);
    border-bottom: 5px solid var(--bs-border-color);
    color: var(--bs-body-color);
}