html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.truncate-start {
  direction: rtl;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.playButtonPublishing {
  animation: flashColor 2s infinite;
}

@keyframes flashColor {
  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: rgba(25, 135, 84, 0.651);
  }
}

[data-bs-theme="dark"] {
  .btn-list {
    background-color: transparent;
  }

  .btn-list.active,
  .btn-list:active,
  .btn-list.selected {
    background-color: #525b64a1;
    border: none
  }

  .custom-btn-danger {
    background-color: transparent;
    border-color: rgb(220, 53, 69);
    color: rgb(220, 53, 69);
  }

  .custom-btn-danger:hover {
    background-color: rgba(220, 53, 70, 0.692);
    border-color: rgb(220, 53, 69);
    color: rgb(220, 53, 69);
  }

  .custom-btn-danger:active {
    background-color: rgba(220, 53, 70, 0.877);
    border-color: rgb(220, 53, 69);
    color: rgb(220, 53, 69);
  }

  .custom-btn-success {
    background-color: transparent;
    border-color: rgb(25, 135, 84);
    color: rgb(25, 135, 84);
  }

  .custom-btn-success:hover {
    background-color: rgba(25, 135, 84, 0.575);
    border-color: rgb(25, 135, 84);
    color: rgb(25, 135, 84);
  }

  .custom-btn-success:active {
    background-color: rgba(28, 150, 93, 0.993);
    border-color: rgb(25, 135, 84);
    color: rgb(25, 135, 84);
  }

  .custom-btn-secondary {
    background-color: transparent;
    border-color: rgb(125, 136, 145);
    color: rgb(125, 136, 145);
  }

  .custom-btn-secondary:hover {
    background-color: rgba(108, 117, 125, 0.753);
    border-color: rgb(125, 136, 145);
    color: rgb(125, 136, 145);
  }

  .custom-btn-secondary:active {
    background-color: rgb(125, 136, 145);
    border-color: rgb(125, 136, 145);
    color: rgb(113, 123, 131);
  }

  .custom-btn-primary {
    background-color: transparent;
    border-color: rgb(13, 110, 253);
    color: rgb(13, 110, 253);
  }

  .custom-btn-primary:hover {
    background-color: rgba(13, 109, 253, 0.568);
    border-color: rgb(13, 110, 253);
    color: rgb(13, 110, 253);
  }

  .custom-btn-primary:active {
    background-color: rgba(27, 118, 255, 0.856);
    border-color: rgb(13, 110, 253);
    color: rgb(13, 110, 253);
  }
}

[data-bs-theme="light"] {
  label, h1, h2, h3, h4, h5, h6 {
    color: rgb(68, 68, 68);
  }

  td {
    color: rgb(68, 68, 68);
  }

  .bg-body {
    background-color: rgb(241, 241, 241) !important;
  }

  .bg-body-tertiary {
    background-color: rgb(248, 248, 248) !important;
  }

  .border-secondary {
    border-color: rgb(200, 200, 200);
  }

  .btn-list.active,
  .btn-list:active,
  .btn-list.selected {
    background-color: rgba(182, 182, 182, 0.671);
    border: none
  }

  .custom-btn-danger {
    background-color: rgba(255, 132, 132, 0.651);
    border-color: rgb(220, 20, 60);
    color: rgb(220, 20, 60);
  }

  .custom-btn-danger:hover {
    background-color: rgb(255, 132, 132);
    border-color: rgb(220, 20, 60);
    color: rgb(220, 20, 60);
  }

  .custom-btn-danger:active {
    background-color: rgb(255, 106, 106);
    border-color: rgb(220, 20, 60);
    color: rgb(220, 20, 60);
  }

  .custom-btn-success {
    background-color: rgba(25, 135, 84, 0.336);
    border-color: rgb(25, 135, 84);
    color: rgb(25, 135, 84);
  }

  .custom-btn-success:hover {
    background-color: rgba(25, 135, 84, 0.527);
    border-color: rgb(25, 135, 84);
    color: rgb(25, 135, 84);
  }

  .custom-btn-success:active {
    background-color: rgba(19, 102, 63, 0.527);
    border-color: rgb(25, 135, 84);
    color: rgb(25, 135, 84);
  }

  .custom-btn-secondary {
    background-color: rgb(220, 220, 220);
    border-color: rgb(200, 200, 200);
    color: rgb(128, 128, 128);
  }

  .custom-btn-secondary:hover {
    background-color: rgb(200, 200, 200);
    border-color: rgb(180, 180, 180);
    color: rgb(30, 30, 30);
  }

  .custom-btn-secondary:active {
    background-color: rgb(180, 180, 180);
    border-color: rgb(180, 180, 180);
    color: rgb(30, 30, 30);
  }

  .custom-btn-primary {
    background-color: rgba(95, 172, 255, 0.76);
    border-color: rgb(0, 104, 217);
    color: rgb(0, 104, 217);
  }

  .custom-btn-primary:hover {
    background-color: rgb(95, 172, 255);
    border-color: rgb(0, 104, 217);
    color: rgb(0, 104, 217);
  }

  .custom-btn-primary:active {
    background-color: rgb(52, 149, 253);
    border-color: rgb(0, 104, 217);
    color: rgb(0, 104, 217);
  }
}