:root,
[data-bs-theme="light"] {
  --bs-primary: #007acc;
  --bs-primary-rgb: 0, 122, 204;
  --bs-primary-bg-subtle: #f3f6fb;
  --bs-body-bg: #f3f6fb;
  --bs-body-secondary: #e7eaf3;
  --bs-body-color: #1e1e1e;
  --bs-body-color: #1e1e1e;
  --bs-border-color: #d4dbe5;
  --bs-button-primary: #007acc;
  --bs-button-primary-hover: #005fa3;
  --bs-button-primary-active: #00497a;
}

[data-bs-theme="dark"] {
  --bs-primary: #3794ff;
  --bs-primary-rgb: 55, 148, 255;
  --bs-primary-bg-subtle: #1e1e1e;
  --bs-body-bg: #1e1e1e;
  --bs-body-secondary: #23272e;
  --bs-body-color: #d4d4d4;
  --bs-text-color: #d4d4d4;
  --bs-border-color: #2c2c32;
  --bs-button-primary: #3794ff;
  --bs-button-primary-hover: #2878c6;
  --bs-button-primary-active: #185a9d;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--bs-body-secondary);
}

a {
  font-weight: 500;
  color: var(--bs-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--bs-button-primary-hover);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  /* Remove scrollbars from body */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--bs-border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bs-button-primary);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}
button:hover {
  background-color: var(--bs-button-primary-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:active {
  background-color: var(--bs-button-primary-active);
}

.button-danger {
  background: rgb(255, 45, 45);
  color: white;
  border: 1px solid rgb(255, 45, 45);
}
.button-danger:hover {
  background-color: rgb(163, 2, 2);
}