:root,
[data-bs-theme="light"] {
  --bs-primary: #5a6a8a;
  --bs-primary-rgb: 90, 106, 138;
  --bs-primary-bg-subtle: #f4f4f8;
  --bs-body-bg: #ecedef; 
  --bs-body-secondary: #f8f9fb;
  --bs-body-color: #23232a; 
  --bs-border-color: #bfc2cc;
  --bs-button-primary: #6c7bbd;
  --bs-button-primary-hover: #7481be;
  --bs-button-primary-active: #7c89bf;
}

[data-bs-theme="dark"] {
  --bs-primary: #5a6a8a;
  --bs-primary-rgb: 90, 106, 138;
  --bs-primary-bg-subtle: #222228;
  --bs-body-bg: #181820;
  --bs-body-secondary: #21212c;
  --bs-body-color: #e0e0e0;
  --bs-border-color: #44444a;
  --bs-button-primary: #5a6a8a;
  --bs-button-primary-hover: #6c7bbd;
  --bs-button-primary-active: #7481be;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--bs-body-secondary);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  /* Remove scrollbars from body */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--bs-button-primary);
  color: #fff;
}
button:hover {
  background-color: var(--bs-button-primary-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:active {
  background-color: var(--bs-button-primary-active);
}